{% extends 'base.html' %}
{% load static %}
{% block script %}
<script>
    $( document ).ready(function() {
        $('.clickable').bind('click', {
            msg: 'select'
        }, function(event) {
            $(event.target).parent('tr').children().children('input').prop('checked', true);
            $('.clickable').removeClass('selected');
            $(event.target).parent('tr').addClass('selected');
        });
        $('#hosts').bind("change", { 
            msg:"hostchange" 
        },function(event) { 
            $('#sucheForm').submit();
        });
        $('#instances').bind("change", { 
            msg:"hostchange" 
        },function(event) { 
            $('#suchen').click();
        });
    });
</script>

{% endblock script %}
{% block content %}
{% if debugmessage %}
<fieldset>
    <legend>Debugmessage</legend>
    <pre>
    {{debugmessage}}
    </pre>
</fieldset>
{% endif %}
<form id="sucheForm" action="/dba/" method="post">
{% csrf_token %}
<h3 id="filterMenu" class="menuHeadStatic" style="margin-top:-1px;">
    <span class="headline" style="text-align:left;width:80%;">Voreinstellungen</span>
   </h3>
   <div id="einstellungMenuListe" class="menuExpandStatic" style="padding-top:5px;">
    <div style="float:left;width:400px;">
     <label class="left" style="width:80px;">Server:</label>
        <select name="hosts" id="hosts" style="float:left;">
            <option value="">Bitte einen Server wählen</option>
            {% if host_list %}
                {% for host in host_list %}
                <option value="{{ host.name }}" {{ host.selected }}>{{ host.fqdn }} ({{host.driver}})</option>
                {% endfor %}
            {% else %}
                <option value="">Keine Hosts konfiguriert</option>
            {% endif %}
        </select>
     <br class="end">
     {% if instance_list %}
     <label class="left" style="width:80px;">Instanz:</label>
        <select name="instances" id="instances" style="float:left;">
            <option value="">Bitte eine Instanz wählen</option>
                {% for instance in instance_list %}
                <option value="{{ instance.name }}" {{ instance.selected }}>{{ instance.name }}</option>
                {% endfor %}
        </select>
        {% endif %}
     <br class="end">
    </div>
    <input type="submit" id="suchen" name="suchen" value="Suchen" style="background-image: url({% static "img/suchen.png" %});margin-left:65px;" class="navigationButton">
    <input type="submit" name="nichtsuchen" value="Alles zeigen" style="background-image: url({% static "img/sumliste.png" %});" class="navigationButton">
    <br class="end">
   </div>
    <div id="navigation">
        <a href="newdb/{{ host_name }}/{{ instance_name }}" >
            <span class="navigationButton" style="vertical-align: middle;padding: 1px 15px 1px 30px;display: inline-block; background-image: url({% static "img/neuanlage.png" %});">
                <span style="height: 25px;vertical-align: middle; display:table-cell;">Neuanlage</span>
            </span>
        </a>
        <input class="navigationButton" type="submit" style="background-image: url({% static "img/menuAuswahl.png" %});" value="Auswahl" name="select">
        <input class="navigationButton" type="submit" style="background-image: url({% static "img/loeschen.png" %});" value="Löschen" name="drop">
        {% if db_driver == 'MSSQL' %}
            <input class="navigationButton" type="submit" style="background-image: url({% static "img/menuAuswahl.png" %});" value="Verkleinern" name="shrink">
            <input class="navigationButton" type="submit" style="background-image: url({% static "img/menuAuswahl.png" %});" value="Wiederherstellungsmodell" name="simple">
        {% endif %}
    </div>
    <div class="scrollTableContainer" style="float: left; width: 100%; height:auto;">
{% if db_list %}
    <table id="db_table" class="ldeTable" style="width: 100%;">
        <caption>Datenbankliste</caption>
        <thead>
            <tr>
                <th id="tblName" width="200">Name</th>
                <th id="tblUmgebung" width="550">Umgebung</th>
                <th id="tblDelete">Vernichtung</th>
                <th id="tblSize" style="text-align: right;">Daten</th>
                <th id="tblLog" style="text-align: right;">Log / Temp</th>
                <th id="tblSum" style="text-align: right;">Gesamt</th>
                <th id="tblInfo">Informationen</th>
            </tr>
        </thead>
        <tbody>
            {% for db in db_list %}
            <tr class="{% cycle 'ldeTableRow' 'ldeTableRowAlternative' %} clickable" style="border: 1px solid black">
                <td><input type="radio" name="db_name" style="display: none;" value="{{ db.name }}" />{{ db.name }}</td>
                <td>{{ db.umgebung|linebreaksbr }}</td>
                {% if db.delta < -8999 %}
                <td style="color: white; background-color: red;">{{ db.delete }}</td>
                {% elif db.delta < 0 %}
                <td><a style="color: red;" target="_blank" href="http://dev.logodata.intern/dbt/index.php?request=ausgabe&id={{ db.dbtid }}">{{ db.delete }}</a></td>
                {% else %}
                <td><a style="color: green;" target="_blank" href="http://dev.logodata.intern/dbt/index.php?request=ausgabe&id={{ db.dbtid }}">{{ db.delete }}</a></td>
                {% endif %}
                <td style="text-align: right;">{{ db.size }}</td>
                <td style="text-align: right;">{{ db.log }}</td>
                {% if db.sum > 5000 %}
                <td style="text-align: right; color: red;">{{ db.sum }}</td>
                {% else %}
                <td style="text-align: right; color: green;">{{ db.sum }}</td>
                {% endif %}
                <td>{{ db.add }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="5"></td></tr>
        </tfoot>
    </table>
    <br class="end">
{% endif %}
</div>
</form>
{% endblock content %}