{% load static %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{{ headline }} - {{ seite }} - TOOLS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="DBA Tools" />
    <meta name="keywords" content="" />
    <meta name="author" content="Speisekatze" />
    {% block meta %}{% endblock meta %}
    <link rel="shortcut icon" href="" />
    <link rel="home" href="" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "screen.css" %}" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>
  <body>
    <div class="main" id="main">
        <div id="layout_bg">
            <div id="header">
                <div id="header_left">
                    <div id="header_headline">{{ headline }} - {{ seite }} - TOOLS</div>
                </div>
                <div id="header_right"></div>
            </div>
            <div id="content">
                <div id="currentStateMenu" style="width:10%">
                    <div class="currentStateMenuButton">
                        <a href="../" title="Zurück">
                          <img src="{% static "img/cancel_menu.png" %}" alt=""><br>
                          Zurück
                        </a>
                    </div>
                    <br class="end"><br>
                    <div class="currentStateMenuButton">
                      <a href="{% url 'logout' %}" title="Zurück">
                        <img src="{% static "img/cancel_menu.png" %}" alt=""><br>
                        Logout
                      </a>
                  </div>
                  <br class="end"><br>
                </div>
                <div style="display: block; width:88%; min-width:800px; float:left;">
                  <div>
                    <h1 id="filterMenu" class="menuHeadStatic" style="margin-top:-1px;">
                        <a href="/polls/" target=_self><span class="{{polls_css_class}}">Umfragen</span></a>
                        <a href="/dba/" target=_self><span class="{{dba_css_class}}">Datenbanktools</span></a>
                        <a href="/" target=_self><span class="{{pass_css_class}}">Passwörter</span></a>
                    </h1>
                </div>
                        {% block content %}
                        <p>Placeholder text in base template. Replace with page content.</p>
                        {% endblock content %}
                </div>
            </div>
            <div id="footer">
                <div id="footer_left">
                 <span class="footer_headline" style="color:lightslategrey;">Copyright LogoData ERFURT GmbH 2008, 2020</span>
                </div>
                <div id="footer_right"></div>
                <div id="errorHandlerFootDiv" style="visibility:hidden; display:none;  position:absolute; z-index:550; right:20px;">
                 <input id="errorHandlerFootShow" type="button" class="navigationButton" style="background-image: url(../layout/ldeLayout/mail.png); z-index: 50;font-size:11px; height: 13px; padding-left: 18px; margin: 10px 0px 0px 0px;width:160px; color:lightslategray;" value="Einen Fehler melden">
               </div>
               </div>
        </div>
    </div>
    <footer id="django" role="contentinfo">
        <p>Powered by <a href="http://www.djangoproject.com">Django</a>.</p>
      </footer>
  </body>
</html>